.messages {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidebar {
  background-color: #212d44;
  color: white;
  min-height: 100%;
  min-width: 20rem;
}
.chat {
  color: white;
  flex-grow: 1;
}
.App-link {
  color: #61dafb;
}
